#cuts-card {
  max-height: 7.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  &>div {
    flex: 1;

    &>span {
      font: 400 var(--body-text--sm)/1.4, 'Oxygen', sans-serif;
    }

    &>div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;

      &>div.progress-bar {
        position: relative;
        width: 100%;
        height: 0.5rem;
        border-radius: 624.9375rem;
        background-color: var(--base-gray-300);

        &>span.progress {
          position: absolute;
          width: 0%;
          height: inherit;
          border-radius: inherit;
          background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        }

      }

      &>p {
        min-width: fit-content;
        width: fit-content;
        font: 400 var(--body-text--xs)/1.4, 'Oxygen', sans-serif;
      }
    }
  }

  &>img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 48.5625rem;
    background-color: var(--base-gray-200);
    object-fit: contain;
  }
}