header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &>img {
    width: 6.21rem;
    height: 3rem;
  }

  &>div {
    width: 100%;
  }
}